<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance analysis.com</title>
</head>
<body>
    <h1>Welcome to Finance analysis.com!</h1>
    <h3>Retain clients by focusing your banking services with our analysis tools</h3>


    <p>Please add client details </p>
    
    <form action= {%url 'result' %}>
        
        <p>Customer Age:</p>
        <input type="text" name="Customer_Age">
        <p>Gender:</p>
        <input type="text" name="Gender">
        <p>Dependents:</p>
        <input type="text" name="Dependent_count">
        <p>Education_Level:</p>
        <input type="text" name="Education_Level">
        <p>Marital Status:</p>
        <input type="text" name="Marital_Status">
        <p>Income Category:</p>
        <input type="text" name="Income_Category">
        <p>Card Category</p>
        <input type="text" name="Card_Category">
        <p>Period of relationship with bank:</p>
        <input type="text" name="Months_on_book">
        <p>Number of customer products:</p>
        <input type="text" name="Total_Relationship_Count">
        <p>Months Inactive over 12 months:</p>
        <input type="text" name="Months_Inactive_12_mon">
        <p>Contacts Count over 12 months:</p>
        <input type="text" name="Contacts_Count_12_mon">
        <p>Credit Limit:</p>
        <input type="text" name="Credit_Limit">
        <p>Total Revolving Balance:</p>
        <input type="text" name="Total_Revolving_Bal">
        <p>Total percent change in transaction amount Q4 over Q1:</p>
        <input type="text" name="Total_Amt_Chng_Q4_Q1">
        <p>Total Transaction Amount (Last 12 months):</p>
        <input type="text" name="Total_Trans_Amt">
        <p>Total Transaction Count (Last 12 months):</p>
        <input type="text" name="Total_Trans_Ct">
        <p>Change in Transaction Count (Q4 over Q1):</p>
        <input type="text" name="Total_Ct_Chng_Q4_Q1">
        <br>
        <br>
        <input type="submit">
      </form>






  
</body>
</html>